body {
        background-image:#ECEFF1;
}

h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0;
}

.container {
    max-width: 600px;
    
    margin: 0 auto;
}

.weather-app-cover {
    max-width: 680px;
    margin: 30px auto;
    
}


.weather-app {
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
}

hr {
    color: rgb(3, 43, 3);
}

a {
    text-decoration: none;
}
.weather-temperature img {
    height: 64px;
    width: 64px;

}

footer {
text-align: center;
}

.city {
    font-weight: bold;
}


.temp {
    font-size: 35px;
}

.units {
    font-size: 16px;
    position: relative;
    top:-16px
}
.weather-temperature strong {
    color: rgb(33,33, 33);
    line-height: 60px;
}

.weather-temperature .active {
    color: rgb(33,33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    text-align: center;
    margin-top: 20px;
    color:black;

}

.weather-forecast-date {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.7;
}